  /* common shared styles */
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* body styles */
.container{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-img{
    width: 40%;
}
.banner-img > img{
    width: 100%;
}
.section-content > h2{
      font-size: 30px;
      font-family: 600;
}
.section-content p{
     font-size:15px;
     color: #A3A3A3;
     margin-bottom: 20px;
}
.section-content button{
    background-color: cadetblue;;
    color: white;
    font-size: 15px;
    padding: 12px 15px;
    border-radius: 10px;
    border: 0;
}
.section-content button:hover{
    background-color:black;
}
/* small device */
@media screen and (max-width:576px) {
         .container{
            flex-direction: column;
            padding: 10px;
         }
         .banner-img{
            width: 100%;
         }
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
           .banner-img{
            width: 100%;
         }
}
